<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}"" />
		
		<title>GPSEE Module Reference - Index</title>
		<meta name="generator" content="JsDoc Toolkit" />
		
		<style type="text/css">
		{+include("static/default.css")+}
		</style>
	</head>
	
	<body>
<h1>GPSEE ("gyspy") - General Purpose SpiderMonkey Embedding Ecosystem</h1>
<h2>Module Reference</h2>

<h3>About GPSEE</h3>
<p>
GPSEE augments Mozilla's SpiderMonkey JavaScript interpreter. Designed to allow modular addition of custom objects and classes without imposing unnecessary interdepencies, GPSEE "knows" how to startup / shutdown a JS interpreter, initialize objects and classes, load and collect modules, multiplex callbacks, run the garbage collector, and so forth. 
</p>

<p>
GPSEE is designed first and foremost as a general-purpose, thread-safe C API, which can be embedded into existing C or C++ projects to allow those projects to take advantage of not only the GPSEE ecosystem, but also the flexibility of expression and speed of development afforded by the JavaScript programming language.
</p>

<p>
GPSEE supports JavaScript modules consistent with the preliminary work of the serverjs pseudo-wg, and intends to support additional proposals coming out of this group. GPSEE's modules may be implemented in any "native" language (such as C or C++), pure JavaScript, or a script/native blend.
</p>

<p>
The GPSEE distribution ships with gsr, a script runner which allows GPSEE programs to run like shell scripts, and jsie.js, a full-screen curses JavaScript interactive environment (REPL) written in gsr-hosted JavaScript.
</p>

<p>
GPSEE is which is licensed to the general public under a disjunctive tri-license giving you the choice of one of the three following sets of free software/open source licensing terms: 
</p>
<ul>
  <li><a href="http://www.mozilla.org/MPL/MPL-1.1.html">Mozilla Public License, version 1.1</a> or later</li>
  <li><a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License, version 2.0</a> or later</li>
  <li><a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU Lesser General Public License, version 2.1</a> or later</li>
</ul>
		<div id="contentX">
			<h1 class="classTitle">Module and Module.Class Index</h1>
			
			<for each="thisClass" in="data">
			<div>
				<h2>{+(new Link().toSymbol(thisClass.alias))+}</h2>
				{+resolveLinks(summarize(thisClass.classDesc))+}
			</div>
			<hr />
			</for>
			
		</div>
<h3>Notes about this documentation</h3>
The documentation generator we are currently using (jsdoc-toolkit) does not understand GPSEE Modules. As such, some generated terminology may be confusing -- for example, calling modules classes and confusing static and instance class properties.  Please read the documentation carefully, and if anything seems a little confusive, think about the logical implementation -- that's probably what's been done.

		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
	</body>
</html>
